@charset "utf-8";
/* #wrap.login_wrap {
  background-position:-100px 0 ;
} */
html,
body {
    background-color: #ffffff;
}
.login_wrap {
    width: 100%;
    height: 100%;
    min-height:calc(100vh - 64px) !important;
    text-align: center;
    background: #ffffff url(/assets/images/login/login_bg.png) center top no-repeat !important;
    background-size:100% auto !important;
}
.login_wrap ~ .copyright,
.login_wrap .copyright {
  position: relative;
  text-align: center;
  color:#80a0a5;
  padding:25px 0;
  font-size:13px;
}
.login-inner {
    width: 480px;  
    text-align: center;
    margin:10rem auto 2rem auto;
    border-radius: 12px;
    background: #fff; 
    display: inline-block;
    border:1px solid #E6E9F4;
    box-shadow: 0 5px 30px rgba(65, 78, 142, 0.2);
    padding:0 50px 40px 50px;
}
.login-inner .logo {
    width: 170px;
    margin-bottom: 90px;
    position:absolute;
    top:60px;
    left:40px;
    width:130px;
}
.login-inner .eng-tit {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}
.login-title-layout{
  width:100%;
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
}
.login-title-layout h3 {
  font-size: 28px;
  font-weight: 600;
  color: #2E3D8B;
  text-align: right;
  padding:40px 0 17px 0;

}
#login-title {
    font-size: 31px;
    font-weight:700;
    color: #0E2C4B;
    padding:20px 0 17px 0;
    letter-spacing:0;
}
#login-title span {
  font-size: 20px;
  font-weight:500;
}

.login-inner .identify-select {
    font-size: 0;
}

.login-inner .identify-select li {
    display: inline-block;
    margin-right: 9px;
}

.login-inner .identify-select li:last-child {
    margin-right: 0;
}

.login-inner .identify-select li .radio {
    padding: 0;
}

.login-inner .identify-select li .radio>label {
    display: block;
    width: 94px;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    background: rgba(255, 255, 255, .2);
    font-size: 16px;
    color: #fff;
    padding-left: 21px;
}
.login-inner .identify-select li .radio input:checked+label {
    background: #fff;
    color: #1d2b59;
}
.login-inner .identify-select li .radio i {
    margin-top: -8px;
    left: 18px;
    background: none;
    border-color: #8b8d9c;
}
.login-inner .login-form {
    width:100%;
    margin:0 auto;
}
.login-inner .login-form .input-wrap {
    position: relative;
    margin-bottom: 28px;
}
.login-inner .login-form .input-wrap input,
.login-inner .login-form .input-wrap select {
    height: 45px !important;
    border-radius: 5px;
    font-size: 14px;
    padding-left: 45px !important;
    border:1px solid #E5EDF0;
    color:#3E4968;
}
.login-inner .login-form .input-wrap:before {
    font-size: 20px;
    color: #3E4968;
    position: absolute;
    bottom: 12px;
    left: 13px;
}
.login-inner .login-form .input-wrap label {
  font-size:13px;
  color:#535b83;
  display: inline-block;
  text-align: left;
  width:100%;
  margin-bottom:4px;
}
.login-inner .login-form .btn-login {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 8px;
    border: 0;
    background: #0f9d56;
    line-height: 60px;
    font-size: 22px !important;
    font-weight: 600;
    font-family: "Montserrat";
    color: #fff;
    letter-spacing: 3px;
    margin-top: 11px;
    
}
.login-inner .login-form .btn-login:hover {
  background: #098d4b;
}
.login_wrap .login-menu {
  margin:0 auto;
  padding: 10px 0 25px 10px;
  font-size: 0;
  width:395px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.login_wrap .login-menu a {
    display: inline-block;
    padding: 0 20px 0 12px;
    font-size: 14px;
    color: #535b83;
    position:relative;
}
.login_wrap .login-menu a:hover {
  color:#344ab6;
}
.login_wrap .login-menu :not(.login-menu-left) a::before {
  position: absolute;
  left:0;
  top:4px;
  border-radius: 20px;
  content: "";
  width:5px;
  height:5px;
  background:#535b83;
}
.login_wrap .login-menu a:hover::before {
  background:#344ab6;
}
.login_wrap .login-menu .login-menu-left a {
  padding-left:0;
}
.login_wrap .login-menu .login-menu-left a i {
  padding-right:5px;
}

/* 회원가입 */

.login_wrap.signup .login-inner {
    width: 360px;
}

.login_wrap.signup .login-inner h2 {
    font-size: 40px;
}

.login_wrap.signup .logo {
    margin-bottom: 40px;
}

.login_wrap.signup .form-group {
    text-align: left;
    margin-bottom:20px;
    position: relative;
}

.login_wrap.signup .form-group>label {
    font-size: 14px;
    color: #7E84A3;
    font-weight:400;
    padding-left: 5px;
    z-index: 100;
    display: inline-block;
    margin-bottom:5px;
    position: relative;
}
.login_wrap.signup .form-group .mem-master {
  position: absolute;
  left:unset !important;
  top:0;
  right:30px;
  color:#FFF4AB !important;
}
.checks.mem-master input[type="checkbox"] + label {
  padding-left:25px;
}
.checks.mem-master input[type="checkbox"] + label:before {
  color:#ffffff ;
  font-size:20px;
  top:-4px !important;
}
.checks.mem-master input[type="checkbox"]:checked + label:before,
.checks.mem-master input[type="checkbox"]:checked + label  {
  color:#00FFB1 ;
}

.login_wrap.signup .form-group input,
.login_wrap.signup .form-group select {
    height: 40px !important;
    border-radius: 4px;
    color: #2E3D8B;
    border: 1px solid #E5EDF0;
    font-family: 'Noto sans KR';
    font-size: 14px;
    font-weight:400;
    padding:5px 15px;
}

.login_wrap.signup .form-group select option {
    color: #333;
}

.login_wrap.signup .form-group input:focus,
.login_wrap.signup .form-group select:focus {
    box-shadow: none;
}

.login_wrap.signup .form-group select {
    background: url(/assets/images/common/signup_arw.png) 93% 70% no-repeat;
    background-color: rgba(255, 255, 255, .1);
}

/* 20200129 | 허주원 | 동명대추가 */
.login_wrap.signup .modal-content .form-group select {
    background: url(/assets/images/common/select-arw.svg) no-repeat;
    background-position: calc(100% - 15px) center;
    background-color: #fff;
    border: 1px solid #9ea4d0;
}
.login_wrap.signup .modal-content .form-group>label {
	position:relative;
	font-size:15px;
	color: #364085;
	font-family:'noto sans kr';
}

/* 20200129 | 허주원 | 동명대추가 */
.login_wrap.signup .form-group a.join-search {
	position:absolute;
	right:0;
	bottom:0;
	background-color:transparent;
}

.login_wrap.signup .btn-group {
    width: 100%;
    margin: 30px 0 50px 0;
}

.login_wrap.signup .btn-group input {
    width: 35%;
    height: 48px !important;
    margin: 0 1%;
    border-radius: 4px !important;
    background: #293271;
    font-size: 16px;
    color: #fff;
    border: 0;
    padding: 0;
}

.login_wrap.signup .btn-group input:first-child:hover,
.login_wrap.signup .btn-group input:first-child:focus {
    background: #293271;
}

.login_wrap.signup .btn-group .btn-signup {
    width: 62%;
    background: #334bca;
}
.login_wrap.signup .btn-layout .btn-signup,
.login_wrap.signup .btn-layout .btn-cancel {
  width: auto;
  background: #0f9d56;
  color:#ffffff;
  font-weight: 500;
}
.login_wrap.signup .btn-layout .btn-cancel {
  background: #80a0a5;
}
.login_wrap.signup .btn-layout .btn-cancel:hover {
  background: #6a8a8f;
}
.login_wrap.signup .btn-layout .btn-signup:hover {
    background: #098d4b;
}
.login_wrap.signup .btn-layout .btn-search {
  background: #4B50CE;
  color:#ffffff;
  font-weight: 400;
}
.login_wrap.signup .btn-layout .btn-search:hover {
    background: #3E43C9;
}
.login_wrap.signup .btn-layout .size-l {
  font-size: 1.125rem !important;
  height:54px !important;
  border-radius: 5px !important;
}
.login_wrap.signup .btn-layout .size-m {
  font-size:0.9375rem !important;
  height:50px !important;
  border-radius: 5px !important;
}

.login_wrap.terms .login-inner {
    width: 400px;
}

.login_wrap.terms .checks {
    height: auto !important;
    text-align: left;
    width:100%;
}
.login_wrap.terms .chk-all {
    border-bottom:1px solid #D0D4E2;
}
.login_wrap.terms .chk-all .checks label {
    font-size: 18px;
    font-weight: 600;
    color: #2E3D8B;
    text-align: left;
}

.login_wrap.terms .terms-box {
    color:#3E4968;
}

.login_wrap.terms .terms-box .terms-necessary {
    font-size: 13px;
    color: #30c3e6;
    padding-left: 6px;
}

.login_wrap.terms .terms-box .terms-optional {
    font-size: 13px;
    color: #aaa;
    padding-left: 6px;
}

.login_wrap.terms .terms-box textarea {
    height:300px !important;
    white-space: pre-wrap;
    font-size: 14px;
    border:1px solid #E5EDF0;
    background: #ffffff;
}

.login_wrap.terms .terms-box textarea:focus {
    box-shadow: none;
    border: 0;
}

/*아이디저장*/
.checks {
    position: relative;
    text-align: right;
    margin:20px 0 20px;
}
.checks input[type="checkbox"] { /* 실제 체크박스는 화면에서 숨김 */
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0
}
.checks input[type="checkbox"] + label {
    display: inline-block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    font-size:14px;
    color:#535b83;
    font-weight:500;
    padding-left:26px;
}
.checks input[type="checkbox"] + label:before { /* 가짜 체크박스 */
    position: absolute;
    left:3px;
    top:-2px;
    content: "";
    display: inline-block;
    width:15px;
    height:15px;
    border:1px solid #cccccc;
    font-size:1rem;
}
.checks input[type="checkbox"]:checked + label:before { /* 체크박스를 체크했을때 */
    color:#E67100;
    content:"\e92d";
    font-family:"xeicon";
    border:unset;
    font-size:1.5rem;
    left:0;
    top:-5px;
}


.login_wrap.join-inner .login-inner {
  padding:60px 0 0 0;
}
.login_wrap.terms.join-inner .login-inner,
.login_wrap.signup.join-inner .login-inner,
.login_wrap.join-inner .login-form{
  width:100%;
}
.login_wrap .logo-txt h2 {
  font-size:2.75rem !important;
  margin-top:10px  !important;
}
.login_wrap.join-inner .type-layout,
.login_wrap.join-inner .terms-layout,
.login_wrap.join-inner .signup-layout,
.login_wrap.join-inner .auth-layout,
.login_wrap.join-inner .complete-layout {
  width:950px;
  margin:80px auto 0;
}
.logo-txt {
  color:#ffffff;
  font-size:3rem;
  font-family: 'roboto', 'Noto Sans KR', sans-serif;
  padding-bottom:20px;
}
.logo-txt  h2 {
  margin-top:0;
}
.join-step {
  padding:30px 5% 50px 5%;
  width:100%;
  display: inline-block;
  background:rgba(255,255,255,0.1);
}
.join-step ul {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-step li {
  position: relative;
  text-align: left;
  margin: 0 25px 0 0;
  padding: 0 0 0 95px;
  border: none;
  height: auto;
  color:#ffffff;
  transform: scale(0.85);
}

.join-step li:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.join-step li:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 80px;
  height: 80px;
  background:rgba(0,174,214,0);
  border:2px dotted rgba(0,174,214,0.4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.join-step i {
  position: absolute;
  left: 20px;
  top: 20px;
  font-family: "xeicon";
  font-size:2.6rem;
  color:rgba(255,255,255,1);
}

.join-step i.next {
  position:absolute;
  right:-48px;
  left:unset;
  top: 50%;
  font-size:1.8rem;
}

.join-step li.active i.next {

  color:rgba(0,174,214,1);
}

.join-step li:last-child:after {
  content:unset;
}
.join-step li.active {
  color:#47DCFF;
  transform: scale(1);
  margin-right:55px;
}
.join-step li.active:before {
  background:rgba(0,174,214,1);
  border:none;

}
.join-step li .txt0 {
  font-size: 10px;
  font-family: 'roboto', 'Noto Sans KR', sans-serif;
  padding: 3px 8px 0 0
}
.join-step li .txt0 {
  font-size: 17px;
  padding: 16px 0 11px;
  display: block;
  margin: 0
}
.join-step li .txt1 {
  font-size: 20px;
  display: block;
  padding: 0
}


/* 회원가입 - 01가입유형 */
.type-layout {
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top:40px !important;
}
.type-layout .join-check {
  width: 250px;
  height:250px;
  margin:20px 40px 40px 0;
  display: inline-block;
  background:#2E3D8B;
  border-radius: 200px;
  color:#ffffff;
  font-size:1.5rem;
  font-weight: 400;
  position: relative;
  text-align: center;
  padding:0 0 0 0;
  transition:0.5s;
}
.type-layout .join-check:last-child {
  margin-right:0;
  background: #1f7e5d;
}
.type-layout .join-check span {
  font-weight: 600;
  font-size:2rem;
  letter-spacing:-1px;
  margin-top:10px;
  display: inline-block;
}
.type-layout .join-check:hover {
  background: #01C4D4;
  transition:0.5s;
  border:0;
  box-shadow: 0 10px 40px rgba(0,196,241,0.6);
  transform: scale(1.02);
}
.type-layout .join-check:after {
  font-family: "xeicon";
  font-size:3rem;
  position:absolute;
  right:50px;
  top:50%;
  margin-top:-20px;
  color:#ffffff;
  transition:0.5s;
}
.type-layout .join-check:hover:after {
  right:25px;
  transition:0.5s;
}
.type-layout .join-check img {
  width:80px;
  margin-bottom:15px !important;
  display:block;
  margin:0 auto;
}
.type-layout .signup_type01 span::after {
  content:'';
  position: absolute;
  left:124px;
  top:50px;
  width:160px;
  height:80px
  background-repeat:no-repeat;
}
.type-layout .signup_type02 span::after {
  content:'';
  position: absolute;
  left:120px;
  top:52px;
  width:160px;
  height:80px;
  background-repeat:no-repeat;
}



/* 회원가입 - 03본인인증 */
.auth-layout .signup-auth {
  margin:80px auto 30px;
} 
.auth-layout .btn-auth {
  font-size:1.5rem;
  color:#ffffff;
  text-align: center;
  height: auto !important;
  width:300px !important;
  padding:50px 20px;
  display:inline-block;
  background: rgba(0,0,0,0.6);
  border:rgba(0,174,214,1) 2px solid;
  border-radius: 30px;
  transition:0.5s;
}
.auth-layout .btn-auth img {
  height:100px;
  margin:0 auto;
  display:block;
  margin-bottom:30px;
}
.auth-layout .btn-auth:hover {
  background: rgba(0,196,241,0.8);
  transition:0.5s;
  transform: scale(1.03);
  border:0;
  box-shadow: 0 0 50px rgba(0,196,241,0.6);
}
.auth-layout .auth-txt {
  font-size:1.1rem;
  font-weight: 300;
  color:#dddddd;
}
.auth-layout .auth-txt li {
  margin-bottom:10px;
  line-height: 130%;
  text-shadow: 0 0 15px rgba(0,0,0,0.7);
}
.auth-layout .auth-txt li:before {
  position:absolute;
  margin-left:-15px;
  content:"\eb21";
  font-family: "xeicon";
  font-size:0.6rem;
}
.auth-layout .auth-txt li span {
  color:rgba(0,174,214,1);
}


/* 회원가입 - 04 정보입력 */
.signup-layout .form-txt {
  position:absolute;
  bottom:-20px; 
  left:15px;
}
.signup-layout input:focus {
  border:1px solid rgba(230, 113, 0, 1) !important;
}
.login_wrap.signup .signup-layout .form-group > label {
  top:0;
  left:0;
}
.login_wrap.join-inner .signup-layout  {
  margin:30px auto 0;
}
.login_wrap.signup .signup-layout h3 {
  text-align: left;
  font-weight: 600;
  color:#575D7B;
  padding:10px;
  background: #cedcf1;
  border-radius: 4px;
  margin-bottom:25px;
  margin-top:30px;
}
.login_wrap.signup .signup-layout h3:first-of-type { 
  margin-top:0;
}
.login_wrap.signup .signup-layout > .row {
  margin-bottom:0;
}
.login_wrap.signup .signup-layout .form-group input, 
.login_wrap.signup .signup-layout .form-group select {
  height:40px !important;
}
.login_wrap.signup .signup-layout .input-file-box .file-input-div .btn {
  border-radius: 0 5px 5px 0;
  margin:0 !important;
  height:40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_wrap.signup .signup-layout .input-file-box .file-input-div {
  top:2px;
}
.login_wrap.signup .signup-layout .input-readonly {
  color:#00FFB1;
}
.login_wrap.signup .signup-layout .input-readonly.signup-type {
  font-size:2rem;
  font-weight: 500;
  margin-top:-20px;
  text-align: center;
  padding-top:0;
}
.login_wrap.signup .check-layout {
  text-align: center;
  border:1px solid #D0D4E2;
  border-width:1px 0;
  margin-top:20px;
}
.login_wrap.signup .check-layout .form-group {
  margin:5px;
}
.login_wrap.signup .check-layout .form-group label {
  font-size:14px;
}
.signup-layout .btn-search {
  position: absolute;
  right:20px;
  top:25px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  background: #364085;
  color: #fff;
  border-radius: 8px;
  padding:12px 10px 8px 10px;
  line-height: 120% !important;
}
.signup-layout .btn-search:before {
  content: "\e97a";
  font-family: "xeicon";
  font-size:1.3rem;
}




/* 회원가입 - 05신청완료 */
.complete-layout .txt {
  color:#ffffff;
  font-size:1.4rem;
  font-weight:400;
  line-height: 160%;
  text-shadow: 2px 2px 20px rgb(0, 0, 0, 1);
}
.complete-layout .complete-img {
  width:180px;
  margin:60px auto 20px;
}
.complete-layout .complete-img img {
  width:60%;
}
.complete-layout .btn-link {
  border-radius: 10px;
  font-size:1.2rem;
  font-weight: 300;
  color:#ffffff;
  padding:20px 40px;
  background:#364085;
  margin-top:20px !important;
  display:inline-block;
}
.complete-layout .btn-link:hover {
  background: #334bca;
}


/* 아이디찾기 */
.login-inner.login-findidpw,
.login-inner.login-findidpw .login-form {
  width:700px !important;
}
.login-inner.login-findidpw .btn-group {
  width:auto !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top:30px;
}
.login-inner.login-findidpw .search-phone,
.login-inner.login-findidpw .search-mail {
  padding:30px 20px 40px 20px!important;
  box-shadow: 0 30px 20px -20px rgba(0, 174, 255, 0.3);
  width:45%;
  height:250px !important;
  border-radius: 40px !important;
  font-size:1rem;
  margin:0 10px;
  color:#ffffff;
  line-height: 160%;
}
.login-inner.login-findidpw .search-phone em,
.login-inner.login-findidpw .search-mail em{
  display: block;
  font-size:1.25rem;
}
.login-inner.login-findidpw .search-phone i,
.login-inner.login-findidpw .search-mail i {
  font-size:6rem;
  display: block;
  margin-bottom:10px;
}
.login-inner.login-findidpw .search-phone {
  background:#2E3D8B !important ;
}
.login-inner.login-findidpw .search-phone:hover {
  background:rgb(0, 174, 255) !important ;
  box-shadow: 0 5px 20px rgba(0, 174, 255, 0.5);
}
.login-inner.login-findidpw .search-mail {
  background:#1F7E5D  !important ;
}
.login-inner.login-findidpw .search-mail:hover {
  background:rgb(0, 174, 255)  !important ;
  box-shadow: 0 5px 20px rgba(0, 174, 255, 0.5);
}
.login-inner.login-findidpw .form-group label {
  color:#2E3D8B;
  font-size:1rem;
  font-weight: 600;
}
.login-inner.login-findidpw .findidpw-layout .cont-text {
  font-size:1.125rem;
  font-weight: 400;
  line-height: 160%;
  padding:50px 0 30px 0;
  color:#0E2C4B;
}
.login-inner.login-findidpw .findidpw-layout .cont-text i {
  display: block;
  font-size: 6rem;
  margin-bottom:20px;
  color:#4B50CE;
}
.login-inner.login-findidpw .findidpw-layout .cont-text span {
  font-weight: 600;
}
.login-inner.login-findidpw .findidpw-layout #resultContent.form-gray {
  font-size:1.125rem;
  font-weight: 600;
  line-height: 160%;
  padding:50px;
}


/* tab */
.login-tab-menu {
    width: 100%;
    text-align: center;
}
.login-tab-menu .tab.ability-tab {
  background: transparent;
  padding:5px;
  margin:20px 0 30px 0;
  border-radius: unset;
}
.login-tab-menu .ability-tab .tab-inner {
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-tab-menu .ability-tab .tab-inner > div {
  margin:0 10px;
  width:calc(50% - 20px);
}
.login-tab-menu .ability-tab .tab-inner > div:first-child {
  margin:unset;
}
.login-tab-menu .ability-tab .tab-inner > div a {
  font-weight:400;
  font-size:1.125rem;
  font-family: 'Montserrat';
  padding:6px 40px;
  width:100%;
  position: relative;
  border-radius: 30px;
  border:1px solid #cccccc;
  color:#444444;
}
.login-tab-menu .ability-tab .tab-inner>div a.active {
  font-weight:600;
  color:#ffffff;
  background:#E67100;
  border:1px solid #E67100;
  padding:6px 40px 6px 50px;
}
.login-tab-menu .ability-tab .tab-inner>div a.active::before {
  content:"\e929";
  position: absolute;
  left:20px;
  top:50%;
  margin-top:-12px;
  color:#ffffff;
  font-size: 2rem;
  font-family: "xeicon";
}

.login-logo {
  width:30%;
  height:30%;
  padding:30px 0 23px 0;
}

.signup-inner {
    width: 50%;  
    text-align: center;
    margin:6rem auto 1rem auto;
    border-radius: 12px;
    background: #fff; 
    display: inline-block;
    border:1px solid #E6E9F4;
    box-shadow: 0 5px 30px rgba(65, 78, 142, 0.2);
    padding:0 50px 40px 50px !important;
}

.signup-inner .logo {
    width: 170px;
    margin-bottom: 90px;
}

.signup-inner .eng-tit {
    font-size: 18px;
    font-weight: 300;
    color: #fff;
    text-align: center;
    letter-spacing: 3px;
}

.signup-inner h2 {
    font-size: 44px;
    font-weight: 500;
    color: #fff;
    margin-top: 15px;
}

.signup-inner .signup-terms-form {
    margin: 20px auto;
    text-align: center;
}

.signup-inner .signup-terms-form .input-wrap {
    position: relative;
    margin-bottom: 7px;
}

.signup-inner .signup-terms-form .input-wrap input,
.signup-inner .signup-terms-form .input-wrap select {
    height: 50px !important;
    border-radius: 4px;
    font-size: 14px;
    padding-left: 50px !important;
}

.signup-inner .signup-terms-form .input-wrap:before {
    font-size: 20px;
    color: #7e7e7e;
    position: absolute;
    top: 50%;
    left: 20px;
    margin-top: -11px;
}
.signup-inner .signup-terms-form .btn-login {
    display: block;
    width: 100%;
    height: 60px;
    border-radius: 4px;
    border: 0;
    background: #293271;
    line-height: 60px;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    letter-spacing: 3px;
    margin-top: 11px;
}
.signup-inner .signup-terms-form .form-check {
  display: flex;
  margin-top:20px;
}
.signup-inner .signup-terms-form .form-check .form-group label {
  position: relative;
  top:unset;
  left:unset;
  margin-right:10px;

}
.signup-inner .signup-terms-form .form-check input[type = checkbox] {
  height: auto !important;
}
.signup-inner .signup-terms-form  .form-corpnm {
  width:100%;
}
.signup-inner .signup-terms-form .input-btn {
  position: absolute;
  right:0.75rem;
  bottom:0;
  width:80px;
  background: #293271 !important;
  color:#ffffff !important;
  padding:5px !important;
  border-radius: 0 8px 8px 0 !important;
}
.border-top {
  border-top:1px solid #D0D4E2;
}
.border-bottom {
  border-bottom:1px solid #D0D4E2;
}


/* btn */
.btn-layout {
  padding:20px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.btn-layout.flex-center {
  justify-content: center;
}
.btn-layout.flex-end {
  justify-content:flex-end;
}
.btn-layout .btn-text {
  font-size:1.125rem;
  font-weight: 400;
  color:#575D7B !important;
  position: relative;
  background: transparent !important;
  
}
.btn-layout .btn-text.btn-cancel {
  padding:5px 5px 5px 30px;
}
.btn-layout .btn-text.btn-cancel::before {
  position: absolute;
  left:0;
  top:0;
  content:"\e9c8";
  font-family: "xeicon";
  font-size: 1.625rem;
  color:#575D7B;
}
.btn-layout .btn-text:hover,
.btn-layout .btn-text.btn-cancel:hover::before {
  color:#344ab6 !important;
}


.form-group .required::before {
  position: absolute;
  right:-15px;
  top:1px;
  content: "*";
  color:#E61800;
  font-size:1.25rem;
}

.form-gray {
  background: #F0F1F3;
  padding:40px 50px 20px 50px;
  border-radius: 14px;
}








@media only screen and (max-width: 1280px) {
  .login_wrap {
      min-height: 100vh !important;
      background-size: unset !important;
  }
  .login-inner .logo {
      margin-bottom: 15%;
  }
  .login-inner .login-menu a {
    width: 95%;
    padding: 5px 12px 12px 12px;
    border-right: 0;
    text-align: left;
    border-bottom: 1px solid rgba(255,255,255,.2);
  }
  .login-inner .login-menu a span {
    display: block;
    float: right;
  }
  .login-inner .login-menu a:last-child {
    padding-right: 12px;
  }
  .login-inner .login-menu a:first-child {
    padding-left: 12px;
  }
  .login-inner .login-menu {
    width:320px;
    margin:0 auto;
    margin-top: 18px;
  }
  .signup-inner {
    width:80% !important;
    min-width: 700px;
  }
  .login-inner.login-findidpw, 
  .login-inner.login-findidpw .login-form {
    width:80% !important;
  }
  .login-tab-menu .ability-tab .tab-inner > div:last-child {
    padding-right:unset;
  }
}


@media only screen and (max-width:1000px) {

  .login_wrap.join-inner .type-layout,
  .login_wrap.join-inner .terms-layout,
  .login_wrap.join-inner .signup-layout,
  .login_wrap.join-inner .auth-layout,
  .login_wrap.join-inner .complete-layout {
    width:calc(100% - 60px);
  }
  .join-step {
    padding:40px 40px 20px 40px;
    overflow: hidden
  }
  .join-step ul {
    display: block;
  }
  .join-step li {
    width:calc(100% / 3 - 60px );
    display:inline-block;
    margin-bottom:40px;
  }
  .join-step li.active {
    transform: scale(0.85);
  }
  .type-layout {
    margin:50px 30px !important;
  }
  .type-layout .join-check {
    width:200px;
    height:200px;
  }
  .type-layout .join-check span {
    font-size:1.875rem;
  }
  .login_wrap.signup .btn-layout .size-l {
    height:50px !important;
    font-size:1rem !important;
  }
}


@media only screen and (max-width:780px) {
  .login-title-layout {
    align-items: center;
  }
  .signup  #login-title {
    text-align: left;
    width:140px !important;
  }
  .login_wrap #login-title {
    width:100%;
    text-align: center;
  }
  .signup-inner h2 {
    margin-top:0;
  }
  .login-inner {
    margin-top:6rem;
  }
  .login-inner .logo {
    left:50%;
    margin-left:-70px;
  }
  .logo-txt {
    padding-top:70px;
    padding-bottom:0;
  }
  .login-inner.login-findidpw .findidpw-layout .cont-text {
    padding-top:20px;
  }
  .signup-inner {
    width:80% !important;
    min-width:500px;
  }
  .join-step {
    padding:40px;
    overflow: hidden;
  }
  .join-step li {
    width:calc(100% / 2 - 55px );
    margin-bottom:40px;
    float: left;
    margin-right:55px;
  }
  .type-layout .join-check {
    font-size:1.125rem;
  }
  .type-layout .join-check span {
    font-size:1.25rem;
  }

}


@media only screen and (max-width:640px) {
  .login-title-layout h3 {
    font-size:23px;
  }
  .signup-inner {
    width:80% !important;
    min-width:unset;
    padding:0 40px 30px 40px;
  }
  .signup-inner .signup-terms-form {
    margin:0 auto !important;
  }
  .type-layout {
    width:100%;
    display: inline-block;
    align-items: unset !important;
    justify-content: unset !important;
    margin:20px 0 !important;
  }
  .type-layout .join-check {
    width:160px;
    height:160px;
  }
  .join-step li {
    width:calc(100% - 55px );
    margin-bottom:70px;
  }
  .join-step li:after {
    content:"\e941";
    top:150%;
    left:25px;
    font-size:2rem;
  }
  .join-step li .txt0,
  .join-step li .txt1 {
    display:inline-block;
    font-size:1.4rem;
  }
  .join-step li .txt0 {
    padding-top:30px;
  }
  .join-step li .txt1  {
    font-size:1.8rem;
  }

  .btn-layout .btn-text {
    font-size:1rem !important;
  }
  .btn-layout .btn-text.btn-cancel::before {
    font-size:1.5rem;
  }
  .checks input[type="checkbox"] + label {
    font-size:14px;
  }
}


@media only screen and (max-width: 600px) {
  .login-inner,
  .login_wrap .login-menu {
      width:80%;
  }
  .type-layout .join-check {
    width:100%;
    height:120px;
    border-radius: 14px;
    margin:0 0 10px 0 !important;
  }
  .login-inner.login-findidpw .btn-group {
    display: inline-block;
    padding-top:10px;
    width:100% !important;
  }
  .login-inner.login-findidpw .search-phone, 
  .login-inner.login-findidpw .search-mail {
    width:100% !important;
    height:180px !important;
    margin:5px 0 !important;
  }
  .login-inner.login-findidpw .search-phone i, 
  .login-inner.login-findidpw .search-mail i {
    font-size:3rem;
  }
  .login-inner.login-findidpw, 
  .login-inner.login-findidpw .login-form {
    width:85% !important;
  }
  .form-gray {
    padding:30px 30px 10px 30px;
  }
}

@media only screen and (max-width: 540px) {
  #login-title {
    width:100%;
    text-align: center;
  }
  .login-title-layout {
    display: inline-block;
  }
  .login-title-layout h3 {
    padding:30px 0 23px 0;
    text-align: center;
  }
  .login_wrap #login-title {
    width:100% !important;
    border-bottom:1px solid #eeeeee;
  }
}

@media only screen and (max-width: 400px) {
  .login-title-layout h3 {
    font-size:18px;
  }
  .signup-inner{
    padding:0 20px 20px 20px !important;
  }
  .login-inner,
  .login_wrap.signup .login-inner {
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom:0 !important;
  }
  .login-inner .login-form {
    width:100%;
  }
  .login-inner .login-menu {
    width:100%;
  }
  .login-tab-menu .tab.ability-tab {
    margin-bottom:10px !important;
  }
  .login-tab-menu .ability-tab .tab-inner {
    display: block !important;
    align-items: unset !important;
    justify-content: unset !important;
  }
  .login-tab-menu .ability-tab .tab-inner > div {
    width:calc(100% - 10px) !important;
    margin:0 5px 5px 5px !important;
  }
  .login-tab-menu .ability-tab .tab-inner > div a {
    font-size:0.875rem !important;
  }
  .login-tab-menu .ability-tab .tab-inner>div a.active::before {
    font-size:1.5rem !important;
    top:20px !important;
  }
  .login-inner .login-form .btn-login {
    height: 50px !important;
    font-size:18px !important;
    line-height: 50px !important;
  }
  .checks input[type="checkbox"] + label {
    font-size:14px;
  }
  .login_wrap .login-menu {
    display: block !important;
    align-items: unset !important;
    justify-content: unset !important;
  }
  .login_wrap .login-menu > div {
    border-bottom:1px solid #dddddd;
    padding:15px 10px;
    text-align: right;
  }
}



