
/*
 * Project Name		: GAIA
 * HTML/CSS Author	: Ji yeong Kim
 * Written date		: 
*/

@charset "utf-8";
/* BASE
------------------------------------------------------------------------------------------------------- */
html, body {
    width: 100%; height: 100%;
    min-width: 1500px;
    margin: 0;
    color: var(--color-default);
    font-family: var(--font-family);
    font-style: normal;
    font-size: var(--font-size);
    letter-spacing: -0.025em;
}
body {
    overflow: hidden;
    overflow-y: auto;
}
a {
    background:transparent;
    color: inherit;
    font-size:100%;
    vertical-align:baseline;
    text-decoration: none;
}
img {
    border-style: none;
    width: 100%;
}
fieldset {
    border: transparent;
    padding: 0;
}
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    vertical-align: middle;
}
button,
input {
    overflow: visible;
}
button,
select {
    text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}
legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}
textarea {
    overflow: auto;
}
p, textarea {
    line-height: 1.4;
}
[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}
[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}
table {
    border-collapse:collapse;
    border-spacing: 0;
}
[hidden],
.hide {
    display: none;
}
[tabindex="-1"]:focus {
    outline: 0!important;
}
nav ul,
nav ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
:not(p, textarea, select) {
    line-height: 1;
}
:disabled {
    pointer-events: none;
    opacity: 5;
}
:root {
    --font-size: 20px;
    --font-family: 'Pretendard';
    --font-xxlg: 1.4rem;
    --font-xlg: .9rem;
    --font-lg: .8rem;
    --font-md: .7rem;
    --font-sm: .65rem;
    --font-xs: .6rem;

    --gap-item : .25em;
    --gap-group : .35em;
    --gap-item-group : .75em;
    --gap-row : 2em;

    --size-xs: 3rem;
    --size-sm: 5rem;
    --size-md: 7.5rem;
    --size-lg: 15rem;
    --size-xlg: 25rem;

    --color-default: #494853;
    --default-a5per: rgba(73, 72, 83, 0.05);
    --default-a10per: rgba(73, 72, 83, 0.1);
    --default-a15per: rgba(73, 72, 83, 0.15);
    --color-black : black;
    --black-a25per : rgba(0,0,0, .25);
    --black-a50per : rgba(0,0,0, .5);
    --color-tit : #222222;
    --color-gray : #8B899E;
    --color-l-gray : #BAB9C5;
    --color-w-blue : #F1F3F9;
    --color-white: white;
    --color-red: #e54848;
    --color-yellow: #FFF000;
    --color-green: #1FAE70;
    --color-blue: #3733aa;
    --component-bd: #DADADA;
    --disabled: #706F80;

    --list-bd : rgba(34,34,34,.25);
    --header-bg :#FBFBFC;
    --header-bd :#BAB9C5;
    --breadcrumb : #959591;

    --tab-bg : #FBFBFC;
    --tab-bd: #F1F1F5;
    --tab-hover-bg : #DADADA;

    --tb-bd: #DADADA;
    --tb-tr-bd: rgba(0,0,0, .05);
    --tb-th-bg : #EAEAEA;
    --tb-th-bg-light : #FAFAFA;
    --tb-th-bd : #54585A;

    --form-bd : #EAEAEA;
    --form-in-bd : #F2F2F2;
    --form-label-bg : #FAFAFA;
}
:root .gaia {
    --color-point: #FFF000;
    --color-point-hwb: #FFD900;
    --lnb-3depth-active : rgba(255,240,0, .05);
    --select-list-bg : rgba(233, 224, 0, 0.15);
    --select-list-bd : hwb(56deg 0% 20% / 20%);
}
:root .cairos {
    --color-point: #1FAE70;
    --color-point-hwb: #00cc5C;
    --lnb-3depth-active : rgba(31,174,112, .05);
    --select-list-bg : rgba(157, 200, 181, 0.2);
    --select-list-bd : hwb(133 0% 70% / 0.2);
}
/* headline */
.page_tit, .conts_tit, .conts_s-tit {
    padding-bottom: .6em;
    margin: 0;
}
.page_tit { font-size: var(--font-xlg); }
.conts_tit { font-size: var(--font-lg); }
.conts_s-tit { font-size: var(--font-md); }
.h_group {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: .6em;
}
.h_group > .conts_tit {
    padding-bottom: 0;
}

/* IR */
.blind {
    overflow: hidden;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}
/* Text align */
.ta_l { text-align: left;}
.ta_r { text-align: right;}
.ta_c { text-align: center;}
/* Item align */
.jc_c,
.ta_c .form_check,
.ta_c .item_group { justify-content: center;}
.jc_e { justify-content: flex-end;}
.jc_sb { justify-content: space-between;}
.ai_b { align-items: baseline; margin-top: 4px;}
/* Size */
.w-auto { width: auto;}
.w-full { width: 100%;}
.w-xs { max-width: var(--size-xs);}
.w-sm { max-width: var(--size-sm);}
.w-md { max-width: var(--size-md);}
.w-lg { max-width: var(--size-lg);}
.w-xlg { min-width: var(--size-xlg);}
/* Scroll */
.scroll {
    overflow: hidden;
    overflow-y: auto;
}
.ov_hidden {
    overflow: hidden;
}
.noscroll,
.pop_body.noscroll {
    overflow: visible;
}
/* Scrollbar */
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: var(--color-w-blue);}
::-webkit-scrollbar-thumb { background: var(--color-gray);}
::-webkit-scrollbar-thumb:hover { background: var(--color-default);}
/* placholder */
:read-only::placeholder {
    color:transparent;
}
::placeholder,
:disabled::placeholder {
    color: var(--color-l-gray);
    line-height: 1.4;
}
hr {
    border-top: 1px solid var(--default-a10per);
    border-bottom: none;
    width: 100%;;
}
.custom_renderer i, .custom_renderer input[type=checkbox]{
    width: 15px; height:15px;
    display: inline-flex; justify-content: center; align-items: center;
    margin-left:5px;
}
.custom_renderer i.blink, .custom_renderer input[type=checkbox].blink{
    animation:blink-animation 2s linear infinite;
}
@keyframes blink-animation {
    0%, 70%{
        opacity: 1;
    }
    85%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


.custom_renderer i:first-child, .custom_renderer input[type=checkbox]:first-child{
    margin-left: 0;
}
.custom_renderer .value-span+i, .custom_renderer .value-span+input[type=checkbox], .custom_renderer .right_group i:first-child, .custom_renderer .right_group input[type=checkbox]:first-child{
    margin-left: 5px;
}

/* LAYOUT --------------------------------------------------------- */
header {
    display: flex;
}
header {
    align-items: center;
}
header {
    border-top: 4px solid var(--color-default);
    border-bottom: 2px solid var(--color-default);
    box-shadow: 0 0 4px var(--default-a15per);

    width: 100%;
    height: 65px;
    padding: 0 1.5rem 0 3rem;
    justify-content: space-between;
}
header .brand {
    display: block;
    background: linear-gradient(0deg, rgba(56, 55, 64, 1) 0%, var(--color-default) 100%);
    box-shadow: 2px 0px 4px var(--black-a25per);
    margin: -.1rem 0 0 -1.5rem;
    padding: 1rem;
    transform: skew(28deg);
}

header .brand > a {
    display: block;
    font-size: 1.2rem;
    width: 3.6rem;
    height: 1.25rem;
    text-align: center;
    transform: skew(-28deg);
}
.gaia header .brand > a {
    color: var(--color-point);
}
.cairos header .brand > a {
    color: var(--color-point);
}
header .btn {
    border-radius: 0;
}
header .btn:hover {
    transition: all 0.3s ease-in;
}
/* HEADER > BACKOFFICE 링크 */
header #goBackoffice{
    display: flex;
    justify-content: center;
    align-items: center;
    color:var(--color-gray);
    gap:0.1rem;
}
header #goBackoffice .icon{
    width: 15px;
    height: 15px;
    background-size: 15px;
    background-image: url("/assets/images/ic_new_window.png");
}

/* HEARDER > 프로젝트 링크 */
.header .family_link {}
.dashboard_list {
    color: var(--color-gray);
    display: flex;
    align-items: center;
    gap: 5px
}
.dashboard_list > a {
    display: flex;
    font-size: var(--font-xlg);
    font-weight: 600;
    padding: .1em 1em;
    align-items: center;
    gap: 6px;
}
.dashboard_list > a ~ a {
    border-left: 1px solid var(--default-a15per);
}
.dashboard_list > a > .ic {
    border-radius: 50%;
    background: var(--color-w-blue);
    display: inline-block;
    transform: rotate(90deg);
    padding: 3px;
    width: 24px;
    height: 24px;
}
.dashboard_list > a:hover {
    color: var(--color-default);
}
.dashboard_list > a:hover .ic {
    background: var(--color-point);
}
.pj_link {
    display: flex;
    align-items: center;
    position: relative;
}
.pj_link::after {
    content: "";
    border: solid var(--color-default);
    border-width: 0 2px 2px 0;
    display: block;
    padding: 5px;
    position: absolute;
    right: 1em;
    top: calc(50% - .5em);
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
}
.pj_link.show::after {
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
    top: calc(50% - .25em);
}
.pj_link_wrap {
    font-size: var(--font-lg);
    position: relative;
}
.pj_link_wrap .pj_name {
    color:var(--disabled);
    cursor: default;
    font-size: var(--font-xlg);
    font-weight: 700;
    margin: 0;
    width: 450px;
    overflow: hidden;
    padding: 1em 3em 1em 2em;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.pj_link_wrap .ic-city {
    font-size: 1.2rem;
    position: absolute;
    top: calc(50% - .6em);
    left: 1px;
}
.pj_link_wrap .ic-city > .path7:before,
.pj_link_wrap .ic-city > .path8:before {
    color: var(--color-green);
}
.pj_list_wrap {
    background: var(--color-white);
    border: 2px solid var(--color-default);
    width: 100%;
    max-height: 10.5rem;
    overflow: hidden;
    overflow-y: auto;
    position: absolute;
    top: 61px;
    z-index: 99;
}
.pj_link:not(.show) .pj_list_wrap {
    display: none;
}
.user_groups2 .list_th,
.pj_list.ty_tb a {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: .75em 1em;
}
.user_groups2 .list_th {
    background: var(--color-white);
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
    z-index: 1;
}
.user_groups2 .list_th .th {
    flex: auto;
    text-align: center;
    width: 100%;
}
.pj_list.ty_tb a {
    position: relative;
}
.pj_list.ty_tb > a ~ a {
    border-top: 1px solid var(--default-a10per);
}
.pj_list.ty_tb a:hover,
.pj_list.ty_tb a.active {
    background: var(--color-w-blue);
}
.pj_list.ty_tb a > .td:nth-child(1) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: calc(100% - 100px);
}
.user_groups2 .list_th > .th:nth-child(2),
.pj_list.ty_tb a > .td:nth-child(2) {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100px;
    text-align: center;
}
.pj_list_wrap:not(.user_groups2) .list_th,
.pj_list_wrap:not(.user_groups2) .td:nth-child(2) {
    display: none;
}
.login_info {
    display: flex;
    font-size: var(--font-md);
    gap: .5em;
    letter-spacing: 0;
    position: relative;
}
.login_info .logout {
    font-size: 1rem;
}
.login_info .selectbox {
    width: auto;
}
.user_belong:after {
    content: attr(data-after);
    padding: 0 .5em;
}
.util .btn { padding: .5em; }
.util .icon_btn { font-size: 1.2rem; }

/* LNB */
.lnb_nav {
    background: var(--color-default);
    height: 100%;
    padding-top: 3.2rem;
    position: relative;
}
.lnb_list {
    animation-name: showhide;
    animation-duration: .8s;
}
.lnb_list a {
    color: var(--color-white);
    display: flex;
    align-items: center;
    font-size: var(--font-lg);
    font-weight: 600;
    word-break: break-all;
    opacity: .6;
    padding: .8rem 1.5rem;
    position: relative;
}
.lnb_list a:hover,
.lnb_item > a.active {
    opacity: 1;
}
.lnb_item .ic {
    font-size: 1.5em;
    font-weight: normal;
}
.lnb_item > a.active {
    color: var(--color-point);
}
.lnb_item.has-sub > a:after {
    content: "";
    border: solid var(--color-white);
    border-width: 0 1px 1px 0;
    display: block;
    padding: 5px;
    position: absolute;
    right: 30px;
    top: calc(50% - 3px);
    transform: rotate(45deg);
    transition: all 0.2s ease-in;
}
.lnb_item.has-sub > a.on:after {
    transform: rotate(-135deg);
    top: calc(50% - 9px);
}
.depth2_list,
.depth3_list {
    display: none;
}
.depth2_list {
    border-top:1px solid var(--list-bd);
    border-bottom:1px solid var(--list-bd);
    margin: 0 1em .35em;
    padding: .35em 0 1.5em;
}
.depth2_list > .lnb_item ~ .lnb_item {
    margin-top: 5px;
}
.depth2_list > .lnb_item > a {
    padding: .6rem 0 .6rem 2.75em;
}
.depth3_list {
    background: var(--default-a5per);
}
.depth3_list > .lnb_item > a {
    font-size: var(--font-sm);
    font-weight: 400;
    padding: .84615em 0 .84615em 5.363em;
}
.depth2_list .lnb_item.has-sub > a:after {
    right: 10px;
}
.depth3_list > .lnb_item > a.active {
    background: var(--lnb-3depth-active);
}
.depth1 .m_name {
    margin-left: .5em;
}
.lnb_expansion {
    border-top:1px solid var(--list-bd);
    border-bottom:1px solid var(--list-bd);
    color: #fff;
    padding: 0;
    padding-left: 30px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
}
.hide_lnb .lnb_expansion {
    padding-left: 22px;
}
.lnb_expansion .ic {
    display: block;
    width: 24px;
    height: 24px;
}
.hide_lnb .lnb_expansion .ic {
    transform: rotate(180deg);
}
.hide_lnb .lnb_list {
    pointer-events: none;
}
.hide_lnb .depth1 {
    display: block;
    padding-left: 1rem;
}
.hide_lnb .lnb_list > .lnb_item > *:not(.depth1),
.hide_lnb .lnb_list > .lnb_item > .depth1 > *:not(.ic) {
    display: none !important;
}
.hide_lnb .lnb_item.has-sub > a:after {
    content: none;
}
@keyframes showhide {
    0% {opacity: 0;}
    40% {opacity: 0;}
    100%{opacity: 1;}
}


/* BREADCRUMB */
.breadcrumb_nav {
    padding: 1.2em 0 .6em;
}
.breadcrumb {
    color: var(--breadcrumb);
    font-size: var(--font-xs);
    font-weight: 500;
    display: flex;
    letter-spacing: -.02em;
    gap: var(--gap-item-group);
}
.breadcrumb_item:last-child {
    color: var(--color-default);
    font-weight: 600;
}
.breadcrumb_item ~ .breadcrumb_item:before {
    content:'/';
    margin-right: var(--gap-item-group);
}

/* Grid & Flex system */
/* GRID */
.g-group {
    display: grid;
    position: relative;
}
.g-row { grid-auto-rows: min-content;}
.g-row2 { grid-template-rows: auto auto;}
.g-row2.ty1 { grid-template-rows: min-content auto;}
.g-col { grid-auto-columns: min-content;}
.g-col2 { grid-template-columns: auto auto;}
.g-col2.ty1 { grid-template-columns: min-content auto;}
.g-col2.ty1 > *:first-child {
    border-right: 1px solid var(--form-bd);
}
.g-col2.ty2 {
    gap: var(--gap-row);
    grid-template-columns: var(--size-lg) 1fr;
}
.g-col2.ty3 {
    gap: var(--gap-row);
    grid-template-columns: 1fr var(--size-xlg);
}
.g-row > * ~ * {
    margin-top: var(--gap-row);
}

/* FLEX */
.row {
    display: flex;
    width: 100%;
}
.col {
    align-items: center;
    display: inline-flex;
    width: 100%;
}
.fixsize {
    flex-wrap: wrap;
}
.cols2 > .col,
.cols2 > .form_check,
.cols4 > .col.merge2 { width: calc((100% - 3px) / 2);}
.cols3 > .col { width: calc((100% - 3px) / 3);}
.cols3 > .col.merge2 { width: calc(((100% - 3px) / 3) * 2);}
.cols4 > .col { width: calc((100% - 3px) / 4);}
.cols4 > .col.merge3 { width: calc(((100% - 3px) / 4) * 3);}
.cols5 > .col { width: calc((100% - 3px) / 5);}
.cols5 > .col.merge2 { width: calc(((100% - 3px) / 5) * 2);}
.cols5 > .col.merge3 { width: calc(((100% - 3px) / 5) * 3);}

/* gap */
.gap2 { gap: 2em}

/* Put txt */
.put_txt {
    color: var(--color-gray);
    position: relative;
}
.put_txt:after,
.put_txt._braket:before,
.put_txt._braket:before {
    content: '';
    display: inline-block;
    margin-left: .35em;
    flex-shrink: 0;
}
.put_txt._day:after {
    content: "일";
}
.put_txt._won:after {
    content: "원";
}
.put_txt._per:after {
    content: "%";
}
.put_txt._dae:after {
    content: "대";
}
.put_txt._score:after {
    content: "점";
}
.put_txt._number:after {
    content: "개";
}
.put_txt._grade:after {
    content: "등급";
}
.put_txt:not(._day) [type='text'] {
    text-align: right;
}
.put_txt._celsius:after{
    content: '℃';
}
.put_txt._degree:after{
    content: '°';
}
.put_txt._degree ~ ._degree {
    margin-left: 1em;
}
.put_txt._degree ~ ._degree:before {
    content: ',';
    position: absolute;
    margin-left: -1em;
}
.put_txt._braket {
    min-width: 224px;
}
.put_txt._braket._r:before {
    content: '(';
}
.put_txt._braket._r:after {
    content: ')';
}
.put_txt._braket._s:before {
    content: '[';
}
.put_txt._braket._s:after {
    content: ']';
}
.put_txt._meter:after {
    content: 'm';
}
.put_txt._mm:after {
    content: 'mm';
}
.put_txt._s-meter:after {
    content: 'm²';
}
.put_txt._unit_won:after {
    content: '단위 : 원';
    font-size: var(--font-sm);
    position: absolute;
    right: 2em;
    top: calc((100% - 1em) / 2);
}

/* lsit */
.list_sty {
    list-style: none;
    padding: 0;
    margin: 0;
}
.list_sty.savelist {
    overflow: hidden;
    overflow-y: auto;
    padding: var(--gap-item);
    max-height: 160px;
}
.list_item {
    display: flex;
    align-items: center;
    padding: var(--gap-item);
}
.list_item .update_info {
    color: var(--color-gray);
    margin-left: auto;
    margin-right: var(--gap-group);
}

/* file-attach-component */
.attach-component .attach_area{
    position: relative;
}
.attach-component .attach_toolbar{
    gap:1em;
}
.attach-component .attach_toolbar .attach_info{
    gap:0;
    justify-content: space-between;
}
.attach-component .attach_toolbar .attach_info .attach_result{
    margin-right:1em;
}
.attach-component .attach_area .no-file-msg{
    display: flex;
}
.attach-component.dragmode .attach_area *{
    pointer-events: none;
}
.attach-component .attach_area .dragover-msg{
    display: none;
    pointer-events: none;
}
.attach-component .attach_area.dragover{
    z-index: 999;
    background: #fff;
    background: var(--tab-bg);
    border: 3px solid var(--tb-th-bd);
}
.attach-component .attach_area.dragover .no-file-msg{
    display: none;
}
.attach-component .attach_area .attach_list{
    width: 100%;
}
.attach-component .attach_area.dragover .attach_list{
    display: none;
}
.attach-component .attach_area.dragover .dragover-msg{
    display:flex;
}
.attach_result .success:after {
    content: '개 업로드 완료';
}
.attach-component .success .ic,
.attach-component .fail .ic {
    border-radius: 50%;
    color: var(--color-white);
    font-size: smaller;
    padding: 2px;
}
.attach-component .success .ic {
    background: var(--color-blue);
}
.attach-component .fail .ic {
    background: var(--color-red);
}
.attach-component .attach_area .attach_list .file_list .list_item{
    padding: 0.5em 2em 0.5em 1em;
}
.attach-component .attach_area .attach_list .file_list .f_name{
    width: 100%; line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
/* file-attach-component by vue */
.attach_wrap .upload-box .attach_list .file_list{
    /*scroll-behavior: smooth;*/
    scrollbar-gutter: stable;
}
.attach_wrap .upload-box .attach_list .file_header{
    padding-right:8px;
}
/* 크기 */
.attach_wrap .upload-box .attach_list .file_list::-webkit-scrollbar {
    width: 8px;
}
/* 막대 */
.attach_wrap .upload-box .attach_list .file_list::-webkit-scrollbar-thumb {
    background-color:rgba(0,0,0,0.3);
    border-radius:4px;
}
/* 마우스 호버 */
.attach_wrap .upload-box .attach_list .file_list::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius:0;
}
/* 배경 */
.attach_wrap .upload-box .attach_list .file_list::-webkit-scrollbar-track {
    background-color:rgba(0,0,0,0.05);
    border-radius: 4px;
}
/* 마우스 호버 */
.attach_wrap .upload-box .attach_list .file_list::-webkit-scrollbar-track:hover {
    background-color:rgba(0,0,0,0.1);
    border-radius: 0;
}
.attach_wrap .upload-box .attach_list .file_list .list_item span{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.attach_wrap .upload-box .attach_list .file_list .list_item span.f_name{
    justify-content: left;
}
.attach_wrap.update .upload-box .attach_list .file_list .list_item,
.attach_wrap.update .upload-box .attach_list .file_header .header_item
{
    grid-template-columns: 60px auto 60px 60px 60px 60px 60px;
    text-align: center;
}
.attach_wrap.read .upload-box .attach_list .file_list .list_item,
.attach_wrap.read .upload-box .attach_list .file_header .header_item
{
    grid-template-columns:60px 60px auto 60px 60px 60px 60px 60px;
    text-align: center;
}



/* file-attach-window */
.file-attach-window{
    position: fixed;
    bottom:0; right:10rem;
    width: 18rem;
    height:25rem;
    border-radius: 20px;
    box-shadow: 1px 1px 5px var(--component-bd);
    transition:height 0.3s ease;
    overflow: hidden;
    z-index: 100;
}
.file-attach-window.show{
    height: 25rem;
}
.file-attach-window.minimized{
    height: 2.5rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.file-attach-window .window-header{
    background:var(--color-default);
    height: 2.5rem;
    border-radius: 20px 20px 0 0 / 20px 20px 0 0;
    display: flex;
    position: relative;
    cursor:pointer;
}
.file-attach-window .window-header .count-area{
    color:var(--color-white);
    width:calc(100% - 3rem);
    display: flex; flex-wrap: wrap; align-content: center;
    padding-left: 1rem;
}
.file-attach-window .window-header .count-area .count-msg{
    margin: 0; height: fit-content;
}
.file-attach-window .window-header .btn_area{
    width:3rem; height: 100%;
    position: absolute !important;
    right: 1.5rem;
}
.file-attach-window .window-header .btn_area button i::before{
    color:white;
}
.file-attach-window.show .window-header .btn_area .plus{
    display:none;
}
.file-attach-window.show .window-header .btn_area .minimize{
    display:inline-flex;
}
.file-attach-window.minimized .window-header .btn_area .plus{
    display:inline-flex;
}
.file-attach-window.minimized .window-header .btn_area .minimize{
    display:none;
}
.file-attach-window .window-body{
    padding:0.5rem;
    height: 22.5rem;
    display: flex; flex-direction: column;
    background: var(--color-white);
}
.file-attach-window .window-body .btn_area{
    font-size:  var(--font-sm);
    justify-content: center; gap:1rem;
}
.file-attach-window .window-body .btn_area button{
    font-size:  var(--font-sm);
}
.file-attach-window .window-body .file-area{
    flex:1; overflow-y: auto; border-top:1px solid var(--color-l-gray);
    margin-top:0.5rem; padding-top:0.5rem;
}
.file-attach-window .window-body .file-area .status-area{
    height: 3rem;
    padding-bottom: 0.5rem;
    border-bottom:1px solid var(--color-l-gray);
}
.file-attach-window .window-body .file-area .status-area .percent-area{
    margin-bottom: 0.5rem;
    font-size: var(--font-md);
    height: 1rem;
}
.file-attach-window .window-body .file-area .status-area .progress-area{
    position: relative;
    height: 1rem;
}
.file-attach-window .window-body .file-area .progress-area .progress-bar-bg{
    height: 1rem;
    width: calc(100% - 0.5rem);
    position: absolute;
    background: var(--component-bd);
    border-radius: 15px;
    overflow: hidden;
}
.file-attach-window .window-body .file-area .progress-area .progress-bar-bg .progress-bar{
    height: 1rem;
    position: absolute;
    background: var(--color-point-hwb);
    border-radius: 15px 0 0 15px;

}
.file-attach-window .window-body .file-area .file-list{
    list-style: none; margin:0; padding:0;
}
.file-attach-window .window-body .file-area .file-list .file-element:nth-child(n+1){
    border-bottom:1px solid var(--form-in-bd);
    padding-top:0.5rem;
    cursor:pointer;
}
.file-attach-window .window-body .file-area .file-list .file-element .file-info{
    display:flex; gap:0.3rem
}
.file-attach-window .window-body .file-area .file-list .file-element .file-info .success-icon-area{
    width: 1.5rem;
    display: flex;
    justify-content: center; align-items: center;
}
.file-attach-window .window-body .file-area .file-list .file-element .file-info .success-icon-area .icon-wrap{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    color:var(--color-white);
    font-size: var(--font-sm);
}
.file-attach-window .window-body .file-area .file-list .file-element.finish .file-info .success-icon-area .icon-wrap {
    background: var(--color-blue);
}
.file-attach-window .window-body .file-area .file-list .file-element.fail .file-info .success-icon-area .icon-wrap {
    background: var(--color-red);
}

.file-attach-window .window-body .file-area .file-list .file-element .file-info .file-name {
    height: 1.4rem; width: 20rem;
    font-size:  var(--font-md); display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.file-attach-window .window-body .file-area .file-list .file-element .file-info .file-size {
    width: 4rem;
    font-size: var(--font-md);
    text-align: center;
    display: flex;
    justify-content: center; align-items: center;
}