body {
	font-family: 'Noto Sans KR';
}
/* jquery ui override  */
.ui-widget-header {
	border: 1px solid transparent;
	background: var(--primary);
	color: white;
}

.ui-dialog-titlebar-close {
	color: white;
}

.ui-dialog.uu-dialog {
	padding: 0;
	border-radius: 0.5rem;
}

.ui-dialog.uu-dialog .ui-dialog-titlebar {
	border-top-left-radius: 0.5rem;
	border-top-right-radius: 0.5rem;
	padding: 0.625rem 1rem;
}
.ui-dialog.uu-dialog .ui-dialog-buttonpane {
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}

.ui-dialog-alert .ui-dialog-titlebar {
	background-color: Moccasin;
	color: black;
}
.ui-dialog-alert .ui-dialog-titlebar-close {
	color: black;
}

/* 공통 후보 */
.boxPageTitle01, .boxPageTitle02 {
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
}
.boxPageTitle01 .textTitle {
	font-size: 1.5rem;
	font-weight: 600;
}
.boxPageTitle02 .textTitle {
	font-size: 1.4rem;
	font-weight: 600;
}

.btnIcon {
	background-color: transparent;
	border: 0;
	padding: 0;
	margin: 0 5px;
}

.btnExcelDown {
	background-color: var(--green);
	border-color: var(--green);
	color: white;
}

.boxField {
	display: block;
	margin-bottom: 0.9rem;
}
.boxBorder, .boxShadow {
	margin: 1.5rem;
	border-radius: 1rem;
	padding: 1.5rem;
}
.boxBorder {
	border: 5px solid rgb(222, 226, 230);
}
.boxShadow {
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.15);
}

.bsBtn {
	--bs-btn-padding-x: 0.75rem;
	--bs-btn-padding-y: 0.375rem;
	--bs-btn-font-family: ;
	--bs-btn-font-size: 1rem;
	--bs-btn-font-weight: 400;
	--bs-btn-line-height: 1.5;
	--bs-btn-color: var(--bs-body-color);
	--bs-btn-bg: transparent;
	--bs-btn-border-width: var(--bs-border-width);
	--bs-btn-border-color: transparent;
	--bs-btn-border-radius: var(--bs-border-radius);
	--bs-btn-hover-border-color: transparent;
	--bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
	--bs-btn-disabled-opacity: 0.65;
	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
	display: inline-block;
	padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
	font-family: var(--bs-btn-font-family);
	font-size: var(--bs-btn-font-size);
	font-weight: var(--bs-btn-font-weight);
	line-height: var(--bs-btn-line-height);
	color: var(--bs-btn-color);
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
	border-radius: var(--bs-btn-border-radius);
	background-color: var(--bs-btn-bg);
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

ul.boxFieldList {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

ul.boxFieldList > li {
	display: flex;
}
ul.boxFieldList > li > *:first-child{
	margin-right: auto;
}

/* 코드팜 적용 */
:root {
	--primary: #3D3F74;
	--primary-dark: #212350;
	--secondary: #8687AA;
	--blue: #3D3F74;;
	--blue-pale: #EAEAFB;
	--blue-dark: #0D0F52;
	--indigo: #515FD5;
	--indigo-pale: #7b87f1;
	--indigo-light: #6171ff;
	--purple: #6353F0;
	--purple-pale: #9485FE;
	--purple-dark: #5244cf;
	--pink: #e83e8c;
	--red: #EC4561;
	--red-dark: #c92b45;
	--orange: #fd7e14;
	--yellow: #F8B425;
	--yellow-dark: #c98e10;
	--green: #02A499;
	--green-light: #00DF98;
	--teal: #20c9a6;
	--cyan: #49CEFB;
	--success: #02A499;
	--success-dark: #00887f;
	--info: #49CEFB;
	--info-dark: #2ba4cc;
	--warning: #F8B425;
	--warning-dark: #c98e10;
	--danger: #EC4561;
	--danger-dark: #c92b45;
	--white: #fff;
	--black: #000;
	--gray-light: #a4a8be;
	--gray: #858796;
	--gray-dark: #5a5c69;
	--light: #F0F0F7;
	--dark: #5a5c69;

	--green-dark: #116E68;
	--form-line: #D9D9E6;
}

/* 버튼 색상 */
.bgPrimary  {background-color: var(--primary); color: white;}
.bgGreen    {background-color: var(--green  ); color: white;}
.bgPurple   {background-color: var(--purple ); color: white;}
.bgGreenDark{background-color: var(--green-dark); color: white;}
.bgLight    {background-color: var(--light  );}
.bgTrans    {background-color: transparent;}

button.btn.bgGreen      {background-color: var(--green      ) !important; color: white !important;}
button.btn.btnGotoList  {background-color: var(--purple-pale) !important; color: white !important;}

button.btn.bgGreen    :active,
button.btn.btnGotoList:active {
	border-color: transparent;
}
.textPurple {
	color: var(--purple);
}
.textIndigo {
	color: var(--indigo);
}
/* 탭 */
.nav.uu-custom {
	justify-content: center;
	margin: 0.5rem 0;
}
.nav.uu-custom .nav-item > button {
	color: var(--secondary);
	padding: 8px 16px;
	background-color: transparent;
	border: 0;
	border-bottom: 1px solid #dddfeb;
	font-weight: 600;
}
.nav.uu-custom .nav-item > button.active {
	color: var(--purple-dark);
	border-bottom: 2px solid var(--purple-dark);
}

.tab-content.uu-custom {
	padding: 20px;
	border-radius: 10px;
	background-color: white;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	margin: 0.5rem 0;
}
/* 메인 헤더 */
#mainHeader.navbar .nav-item .nav-link {
	color: black;
}

#mainHeader.navbar .btnHeaderMenu.active {
	color: var(--purple);
	font-weight: 600;
}

/* 공사 카드 */
.constCard {
	min-width: 350px;
	max-width: 400px;
	min-height: 473px;
	border: 0;
	border-radius: 1rem;
	margin: 1.5rem auto;
}
.addCard {
	border: 1px dashed gray !important;
	background-color: transparent;
}
.addCard:hover {
	background-color: white;
}
.constCard.addCard .addIcon {
	background-color: var(--purple);
	color: white;
	font-size: 2rem;
	border-radius: 100px;
	padding: 0.7rem;
}

.constCard .card-header {
	border-radius: 1rem 1rem 0 0;
}
.constCard .badge{
	background-color: transparent;
	border: 1px solid #FFD940;
	color: #FFD940;
}

.constCard .card-header,
.constCard .card-body {
	padding: 0;
}

.constCard .textBox {
	height: 120px;
}


.constCard .textBox .textTitle {
	text-align: center;
	font-size: 1.4rem;
	height: 70px;
	padding: 0 1rem;
	/* text vertical middle */
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.constCard ul.boxFieldList {
	margin: 3.5rem auto 2rem auto;
}

.constCard ul.boxFieldList > li {
	padding: 0.3rem 2.5rem;
	display: flex;
	justify-content: space-between;
}

.constCard .boxConstBtn {
	display: flex;
	justify-content: space-around;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 80px;
	margin-bottom: -40px;
	width: 100%;
}
.constCard .btnStepProgress {
	width: 76px;
	height: 76px;
	background: var(--blue-dark);
	position: relative;
	border: 0;
	border-radius: 50%;
	color: white;
	font-weight: 600;
	display: block;
	margin: 0 auto 0 auto;
}
.constCard .btnStepProgress.stepIng {
	background-color: rgba(255, 75, 105);
	box-shadow:
		0 0 0 5px rgba(255, 75, 105, 0.3),
		0 0 0 10px rgba(255, 75, 105, 0.15);
	animation: keyframesScale01 2s infinite;
}
.constCard .btnStepProgress.stepSuccess {
	background: linear-gradient(168deg, #00d3c5 0, #02A499 100%);
	box-shadow: 0 5px 15px rgba(2, 187, 175, 0.5);
}
.constCard .btnStepProgress.stepDefault {
	box-shadow: 0;
	color: rgba(255, 255, 255, 0.4);
}

@keyframes keyframesScale01 {
	0%, 90% {
		-webkit-transform: scale(1);
						transform: scale(1);

					}
	45% {
		-webkit-transform: scale(1.1);
						transform: scale(1.1);
						opacity: 0.9;
					}
}

/* 단위공사 */
.unitConstCard {
	min-width: 350px;
	max-width: 400px;
	min-height: 336px;
	margin: 1rem auto;
	padding: 2rem;
	border: 0;
	box-shadow: 0 0.15rem 1.75rem 0 rgba(61, 63, 116, 0.15);
	border-radius: 1rem;
}

.unitConstCard .card-header,
.unitConstCard .card-body {
	padding: 0;
}

.unitConstCard .textTitle {
	font-size: 18px;
	margin: 1rem 0;
}

.unitConstCard ul.boxFieldList {
	padding: 1.25rem;
	background: var(--blue-pale);
	border-radius: 0.625rem;
}

.unitConstCard ul.boxFieldList > li {
	padding: 0.2rem 0;
}

/* 심사 스텝 */
.colStep {
	/*box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.15);*/
	box-shadow: rgba(0, 0, 0, 0.07) 10px 0px 10px;
	min-height: 650px;
}
.boxJudgeStep {
	margin: 1rem;
	min-width: 200px;
	min-height: 400px;
}

.boxJudgeStep .textTitle {
	font-size: 20px;
	font-weight: 600;
	margin: 1.5rem auto;
	text-align: center;
}

.boxJudgeStep .stepButtons {
	white-space: nowrap;
	text-align: center;
	margin-bottom: 1.5rem;
}

.boxJudgeStep .stepButtons button{
	background-color: var(--green  ); color: white;
	width: 100%;
	min-height: 46px;
	border-color: white;
	border-radius: 30px;
	font-size: 15px;
}
.boxJudgeStep .stepButtons button.stepIng{
	background-color: rgba(255, 75, 105);
}

.boxJudgeStep ul.listStepInfo {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.boxJudgeStep ul.listStepInfo > li {
	padding: 0.5rem 1rem;
}
.boxJudgeStep ul.listStepInfo .itemName {
	color: var(--secondary);
	font-size: 13px;
}

.boxJudgeStep ul.listStepInfo .itemValue {
	/*color: var(--primary);*/
	font-size: 1.3rem;
	font-weight: 600;
	font-family: 'Lato';
	min-height: 27px;
}

.boxConst {
	background-color: rgb(61, 63, 116);
	color: white;
	min-height: 60px;
	padding: 16px 24px; /* 디자인 */
}

.boxConst .textTitle {
	color: white;
	font-size: 1.5rem; /* 디자인 */
}

.mainFooter {
	min-height: 30px;
	padding: 0.5rem 1rem;
	color: var(--secondary);
	border-top:1px solid var(--blue-pale);
	background: var(--light);
}

footer.mainFooter a {
	padding: 2px 5px;
	text-decoration: none;
	color: var(--secondary);
}
footer.mainFooter a:hover {
	background: var(--blue-pale);
}

/*boxWorkCnt*/
.boxWorkCnt {
	background: #E3E3EE;min-height: 70px;padding: 0 20px;border-radius: 5px;
}
.boxWorkCnt .icon {
	font-size: 28px;
}
.boxWorkCnt .text1 {
	font-size: 18px;margin-right: 15px;
}
.boxWorkCnt .textNum {
	font-family: 'Montserrat';
	font-size: 48px;
	font-weight: 600;
	color: var(--purple);
}

button.stepIng {
	background-color: rgba(255, 75, 105);
	color: white;
	border-radius: 50px;
	box-shadow:
		0 0 0 5px rgba(255, 75, 105, 0.3),
		0 0 0 10px rgba(255, 75, 105, 0.15);
	animation: keyframesScale01 2s infinite;
}
/*
.aniScale01 {
	animation: keyframesScale01 2s infinite;
}
*/
.textYellow {
	color: var(--yellow);
}
.textSecondary {
	color: var(--secondary);
}
.textIndigoPale {
	color: var(--indigo-pale);
}
.btnMngMenu {
	color: white;
	padding: 0.7rem 2rem;
	font-size: 1.1rem;
	border: 1px solid rgba(255, 255, 255, 0.15);
}
.btnMngMenu.active {
	background-color: var(--indigo-pale);
}

.boxMngContainer{
	background-color: var(--light  );
}
.boxMngContent {
	margin: 1rem 6rem 1rem 6rem;
	border-radius: 1rem;
	padding: 1.5rem;
	background-color: white;
}

.boxUserMod {
	background-color: white;
	max-width: 600px;padding: 2rem 4rem;
}

.badgeDarkOrange {
	border: 1px solid darkorange;
	color: darkorange;
}
/* 메인 박스 */
.mainBoxList {
	max-width: 1140px;
	padding: 0 1.5rem;
}
.mainBoxList a {
	text-decoration: none;
	color: black;
}
.mainBox {
	position: relative;
	/*margin: 1rem 0.25rem;*/
	border-radius: 0.625rem;
	padding: 1.5rem 1.875rem;
	background-color: white;
	color: black;
}

.mainBox.mainBox__hover:hover {
	transition: 0.5s;
	background: var(--purple);
	color: white;
}

.mainBox .textTitle {
	font-size: 1.25rem;
	font-weight: 600;
}
.mainBox .textSubtitle {
	font-size: 0.85rem;
	font-weight: 600;
	color: var(--gray-light);
	margin-bottom: 1.5rem;
}
.mainBox.mainBox__hover:hover .textSubtitle {
	color: white;
}
.mainBox .textIcon {
	font-size: 2.75rem;
	color: var(--form-line);
}
.mainBox .textNum {
	position: absolute;
	right: 1.875rem;
	bottom: 1.5rem;
	width: 6.25rem;
	height: 6.25rem;
	font-size: 2.75rem;
	font-weight: 600;
	font-family: 'Montserrat';
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 200px;
}
.mainBox.mainBox__hover:hover .textNum{
	transition: 0.5s;
	font-size: 4rem;
	color: white !important;
	background-color: transparent !important;
}

.mainBox.purple .textNum{
	color: var(--purple);
	background-color: #f4f2ff;
}
.mainBox.red .textNum{
	color:var(--red);
	background-color: #FEF4F6;
}
.mainBox.green .textNum{
	color: var(--green);
	background-color: #F0FAF2;
}
.circleIcon{
	display: inline-block;
	width: 24px;
	height: 24px;
	border-radius: 100px;
	padding: 5px;
	background-color: rgb(134, 135, 170);
	text-align: center;
	color: white;
}

/* 로그인화면 */
.login__wrapper {
	/*min-height: 800px;*/
	background: var(--blue-pale);
}
.login__left {
	position: relative;
	/*height: 100vh;*/
	height: 800px;
	color: white;
	background-size: cover;
	background: url(images/login_bg.png) left top no-repeat;
}
.login__logo {
	position: absolute;
	left: 40px;
	top: 40px;
	background: url(images/logo.png) left top no-repeat;
	width: 120px;
	height: 40px;
}
.login__logoText {
	position: absolute;
	left: 40px;
	bottom: 40px;
	color: rgba(255,255,255, 0.18);
	font-size: 1.375rem;
}
.login__logoText p {
	font-size: 2.875rem;
}

.login__box {
	margin: 5rem auto 7rem auto;
	/*min-width: 200px;*/
	max-width: 550px;
}
.login__symbol {
	background: url(../images/simbol.png) left top no-repeat;
	background-size: contain;
	width: 73px;
	height: 73px;
}
.login__control {
	height: 3rem;
	padding: 0.375rem 1rem;
	color: var(--gray-dark);
	border-color: transparent;
}
.login__control.form-control {
	background-image: none !important;
}
button.login__control {
	border-color: var(--indigo);
	background-color: var(--indigo);
	color: white;
	width: 100%;
}
.login__copyright {
	position: absolute;
	bottom: 1rem;
	color: var(--secondary);
	text-align: center;
	width: 100%;
	margin: 0 -1rem;
}
.textLink {
	color: var(--primary);
	text-decoration: none;
	background-color: transparent;
}
.textNoLinkStyle {
	color: inherit;
	text-decoration: none;
}

/* slick grid */

.slickgrid .slick-header-column,
.slickgrid .slick-group-header-column,
.slick-cell {
	/*border-right: 1px solid transparent;*/
}
.slick-cell {
	/*padding: 0.2rem 0.3rem;*/
	/*line-height: 25px;*/
	padding: 0.1rem 0.2rem;
}
/*.slickgrid-resizer {
	border-color: var(--slick-border-color);
}
*/

/* 아래는 테스트하고 지우자 */
