<section id="contentWrap"></section>

<script id="content-template" type="text/x-handlebars-template">
    <h3>Dashboard</h3>

    <ul class="posts">
        <li>
            <article>
                <header>
                    <h3><a link="single.html">Lorem ipsum fermentum ut nisl vitae</a></h3>
                </header>
                <a link="single.html" class="image"><img src="/assets/mo/images/pic08.jpg" alt=""></a>
            </article>
        </li>
    </ul>


    <section>
        <h3>Table</h3>
        <h4>Default</h4>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Item One</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item Two</td>
                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item Three</td>
                    <td> Morbi faucibus arcu accumsan lorem.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item Four</td>
                    <td>Vitae integer tempus condimentum.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item Five</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>100.00</td>
                </tr>
                </tfoot>
            </table>
        </div>

        <h4>Alternate</h4>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Item One</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item Two</td>
                    <td>Vis ac commodo adipiscing arcu aliquet.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item Three</td>
                    <td> Morbi faucibus arcu accumsan lorem.</td>
                    <td>29.99</td>
                </tr>
                <tr>
                    <td>Item Four</td>
                    <td>Vitae integer tempus condimentum.</td>
                    <td>19.99</td>
                </tr>
                <tr>
                    <td>Item Five</td>
                    <td>Ante turpis integer aliquet porttitor.</td>
                    <td>29.99</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td>100.00</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>
</script>

<script>
    function loaded() {
        console.log('loaded called');
        gaiaCommon.get('/webApi/test/mock', {}, function (res) {
            $('#contentWrap').append(tware.utils.handlebarCompile($('#content-template').html(), {
                title: 'test'
                , items: res.details.items
            }));
        });
    }
</script>