<section id="contentWrap"></section>

<script id="content-template" type="text/x-handlebars-template">
    <h3>프로젝트 선택</h3>

    <div class="mini-posts project-list">
        {{#if data.isEmpty}}
        <article class="mini-post no-project" style="text-align:center;{{#ifCond data.items.length '>' 0}}display:none;{{/ifCond}}">
            <header>
                <h3>데이터가 없습니다.</h3>
            </header>
        </article>
        {{else}}
            {{#each data.projectList}}
            <article class="mini-post project-box" style="border-radius: 7px; overflow: hidden;">
                <header>
                    <div class="inner-box">
                        <h3><a href="#quality-list?pjtNo={{pjt_no}}&cntrctNo={{cntrct_no}}">{{cntrct_nm}}</a></h3>
                        <div class="progress-bar-bg" style="">
                            <div class="progress-bar" style="width:{{pjt_completed}}%;"></div>
                        </div>
                        <p style="margin-top:0;">공정률: <span class="completed-number">{{ pjt_completed }}</span>%</p>
                        <time class="published" datetime="{{pjt_period}}">{{ pjt_period }}</time>
                        <footer>
                            <ul class="actions">
                                <li><a href="#project-infomation?pjtNo={{pjt_no}}&cntrctNo={{cntrct_no}}" class="button alt" style="border-radius: 7px;">상세보기</a></li>
                            </ul>
                        </footer>
                    </div>
                </header>
                <div class="image" >
                    <a href="#quality-list?pjtNo={{pjt_no}}&cntrctNo={{cntrct_no}}" style="max-height: 400px; display:flex; justify-content: center; align-items: center;"><img src="{{projectPhotoUrl}}" alt="" style="max-width: 100%;"></a>
                </div>
            </article>
            {{/each}}
        {{/if}}
    </div>
</script>

<script>
    //page 컴포넌트
    const page = {
        init:()=>{
            projectList.render();
            $("img").on("error", function (e) {
                e.target.src = "/assets/images/noimg.png";
            })

        }
    }
    //sidebar 컴포넌트
    const sidebar = {};
    //projectList 컴포넌트
    const projectList = {
        //컴포넌트의 상태값(변할시 렌더링 화면이 달라지는 경우)
        state:{
            list:null,
            photoMap:null
        },
        setState:(details)=>{
            projectList.state.list = details.projectList;
            // 조감도
            projectList.state.photoMap = details.projectPhotoMap
            if (projectList.state.photoMap != null) {
                for(let i=0; i<projectList.state.list.length; i++){
                    const project = projectList.state.list[i];
                    const projectPhoto = projectList.state.photoMap[project.pjt_no];
                    if(projectPhoto){
                        const rawPath = projectPhoto.fileDiskPath || '';
                        const normalizedPath = rawPath.replace(/\\/g, '/');
                        const trimmedPath = normalizedPath.replace(/^.*\/upload/, '/upload');

                        project.projectPhotoUrl = trimmedPath + "/" + projectPhoto.fileDiskNm;
                    }
                    else{
                        project.projectPhotoUrl = '/assets/images/noimg.png'
                    }
                    projectList.state.list[i] = project;
                }
            }
        },
        render:()=>{
            const html = tware.utils.handlebarCompile($('#content-template').html(), {
                title: 'test'
                , projectList: projectList.state.list
                , isEmpty : projectList.state.list.length === 0
            });
            $('#contentWrap').append(html);
            $('#contentWrap a').on('click', projectList.clickHandler);
        },
        clickHandler:(e)=>{
            const path = $(this).attr('href');

            const args = gaia.utils.parseParams(path);
            pjtNo = args.pjtNo;
            cntrctNo = args.cntrctNo;

            let selectedProject = null;
            for(const project of projectList.state.list){
                if(project.cntrct_no === cntrctNo){
                    selectedProject = project;
                    break;
                }
            }

            if(selectedProject != null) {
                const pageCommonData = JSON.stringify({
                    "pjtNo": pjtNo,
                    "pjt_nm": selectedProject.pjt_nm,
                    "cntrctNo": cntrctNo,
                    "cntrct_nm": selectedProject.cntrct_nm,
                    "pjt_div": selectedProject.pjt_div
                });

                sessionStorage.setItem("pageCommonData", pageCommonData);
                const data = { pjtNo:pjtNo, cntrctNo:cntrctNo }
                gaiaCommon.post('/api/portal/set-cookie',data)
            }
        }
    }
    function loaded() {
        console.log('loaded called');
        gaiaCommon.post('/api/portal/main-home', null, (response, status, xhr) => {
            projectList.setState(response.details);

            page.init();
        },(xhr, status, error) => {
            console.log("got error", error);
        })
    }
</script>
