<section id="contentWrap">
    <h3>품질검측관리</h3>

    <ul class="icons">
        <li><a id="btnAdd" class="button icon solid fa-download">추가</a></li>
        <li><a id="btnDelete" class="button icon solid fa-upload">삭제</a></li>
    </ul>

    <div class="table-wrapper">
        <table class="alt">
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
            </thead>
            <tbody id="itemWrap">
            <tr>
                <td colspan="4">데이터가 없습니다.</td>
            </tr>
            </tbody>
        </table>
    </div>

    <ul class="actions">
        <li>
            <a id="btnMore" class="button large">더보기</a>
        </li>
    </ul>
</section>

<script id="content-template" type="text/x-handlebars-template">
    {{#each data.items}}
    <tr>
        <td>
            <input type="checkbox" id="demo-copy" name="demo-copy" />
            <label for="demo-copy"></label>
        </td>
        <td><a href="#quality-detail?pjtNo={{../data.pjtNo}}&cntrctNo={{../data.cntrctNo}}">{{name}}</a></td>
        <td>Ante turpis integer aliquet porttitor.</td>
        <td>29.99</td>
    </tr>
    {{/each}}
</script>

<script>
    function loaded(pjtNo, cntrctNo) {
        console.log('loaded called', pjtNo, cntrctNo);

        paginationParams = {pageNo: 1, pageSize: 10}

        $('#btnAdd').on('click', function(e) {
            location.hash = `#quality-form?pjtNo=${pjtNo}&cntrctNo=${cntrctNo}`;
        });

        $('#btnDelete').on('click', function(e) {
            location.hash = '#quality-form';
        });

        $('#btnMore').on('click', function(e) {
            if (paginationParams.pageNo === 1) {
                $('#itemWrap').empty();
            }

            gaiaCommon.get('/webApi/test/mock', paginationParams, function(res) {
                $('#itemWrap').append(tware.utils.handlebarCompile($('#content-template').html(), {
                    title: 'test'
                    , pjtNo: pjtNo
                    , cntrctNo: cntrctNo
                    , items: res.details.items
                }));
            });

            paginationParams.pageNo++;
        }).trigger('click');
    }
</script>