<template id="vueTemplate">
    <file-uploader></file-uploader>
</template>

<template id="vueUploaderTemplate">
    <div :class="['attach_wrap',mode === 'U'?'update':(mode === 'R'?'read':'')]">
        <canvas id="canvas" style="display:none"></canvas>
        <div class="attach_toolbar" style="align-items: end !important;">
            <div class="btn_area s_small" :style="mode === 'R' ? 'display: none;' : ''">
                <div class="attach_btn">
                    <input class="file" type="file" id="files" name="files" ref="fileInput" multiple @change="onSelectFile" />
                    <button type="button" class="btn _fill" @click="onClick">파일첨부</button>
                </div>
                <button type="button" class="btn _outline" @click="onRemoveAll">모두삭제</button>
            </div>
            <div class="attach_info">
                <span class="attach_result"></span>
                <span class="attach_capacity">
                    <span class="item">{{ calculationByByte(totalFileSize) }}</span>
                    <span class="item">{{ calculationByByte(limitFileSize) }}</span>
                </span>
                ({{ totalCount }})
            </div>
        </div>

        <div class="progress" v-if="type === 'batch'">
<!--                <Modal v-if="showModal" @close="showModal = false">-->
<!--                    <h3 slot="header">Progress</h3>-->
<!--                    <div slot="body">-->
<!--                        <b-progress :max=100>-->
<!--                            <b-progress-bar :value=progressInfo.percentage-->
<!--                                            :label="`${ progressInfo.percentage }% `"></b-progress-bar>-->
<!--                        </b-progress>-->
<!--                    </div>-->
<!--                </Modal>-->

            <div class="progress-bar progress-bar-info"
                 role="progressbar"
                 :aria-valuenow="progressInfo.percentage"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 :style="{ width: progressInfo.percentage + '%' }"
                 :class="progressInfo.success ? 'bg-success' : (progressInfo.failed ? 'bg-danger' : '')"

            >
                {{ (progressInfo.percentage || '') + (progressInfo.percentage > 0 ? '%' : '')}}
            </div>
            <span> {{ message }}</span>
        </div>

        <div class="attach_area upload-box fileContents drag-file" id="drop-area"
             @dragenter="onDragenter"
             @dragover="onDragover"
             @dragleave="onDragleave"
             @drop="onDrop">

            <!-- 첨부파일 미등록 시 -->
            <p class="data_info" v-if="computedFileInfos.length == 0 && selectedFileInfos.length == 0">등록된 첨부파일이 없습니다.</p>

            <div class="attach_list" :class="computedFileInfos.length > 0 || selectedFileInfos.length > 0 ? '' : 'hide' ">
                <ul class="file_header">
                    <li class="header_item">
                        <!-- 다운로드-->
                        <span class="f_download" v-if="mode === 'R'">다운로드</span>
                        <!-- 썸네일 -->
                        <span class="f_capacity">미리보기</span>
                        <!-- 파일명 -->
                        <span class="f_name">파일명</span>
                        <!-- 크기 -->
                        <span class="f_capacity">크기</span>
                        <span class="f_capacity">유형</span>
                        <span class="f_capacity">진행율</span>
<!--                        <span class="f_name"></span>-->
                        <!-- x 버튼-->
                        <span class="f_capacity"></span>
                    </li>
                </ul>
                <ul class="file_list">
                    <li class="list_item attach_item" v-for="(info, index) in computedFileInfos"
                        :key="index"
                    >   <span class="f_download" v-if="mode === 'R'" @click="downloadFile(info)">
                            <div class="ic ic-download" style="width:25px; height:25px; margin: 0 auto;"></div>
                        </span>
                        <!-- 썸네일 -->
                        <span class="f_capacity thumbnail_wrap" style="padding: 5px;">
                            <div class="thumbnail_box" :style="getThumbnailStyle(info)">
                                <div class="overlay-new-window-icon" :class="info.ext" @click="openPreview(info)">
                                    <i class="fa-solid fa-up-right-from-square"></i>
                                </div>
                            </div>
                        </span>
                        <span class="f_name" style="-webkit-line-clamp: 1;">{{ info.originalFilename }}</span>
                        <span class="f_capacity">{{ info.size }}</span>
                        <span class="f_capacity">{{ info.ext }}</span>
                        <span class="f_capacity"></span>
                        <span class="f_name" style="-webkit-line-clamp: 1; color: var(--red)">{{ info.message }}</span>
                        <button type="button" class="icon_btn" v-if="mode !== 'R'" @click="onRemoveMarked(info)"><i class="ic ic-close"></i></button>

                    </li>

                    <li class="list_item attach_item"
                        v-for="(info, index) in selectedFileInfos"
                        :key="index"
                    >
                        <!-- 썸네일 -->
                        <span class="f_capacity thumbnail_wrap" style="padding: 5px;">
                            <div class="thumbnail_box" :style="getThumbnailStyle(info)">
                                <div class="overlay-new-window-icon" :class="info.ext" @click="openPreview(info)">
                                    <i class="fa-solid fa-up-right-from-square"></i>
                                </div>
                            </div>
                        </span>
                        <span class="f_name" style="overflow: hidden; text-overflow: ellipsis; -webkit-line-clamp: 1;">{{ info.fileName }}</span>
                        <span class="f_capacity">{{ info.size }}</span>
                        <span>{{ info.ext }}</span>
                        <span class="progress" v-if="type === 'multiple'">
                            <div class="progress-bar progress-bar-info"
                                 role="progressbar"
                                 :aria-valuenow="info.percentage"
                                 aria-valuemin="0"
                                 aria-valuemax="100"
                                 :style="{ width: info.percentage + '%' }"
                                 :class="info.success ? 'bg-success' : (info.failed ? 'bg-danger' : '')"

                            >
                                {{ (info.percentage || '') + (info.percentage > 0 ? '%' : '')}}
                            </div>
                        </span>
                        <span style="color: var(--blue)"> {{ info.message }} </span>
                        <button type="button" class="icon_btn" v-if="mode !== 'R'" @click="onRemove(index)"><i class="ic ic-close"></i></button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>